<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" port="8087" />
			</channels>
			<services>
				<service>
					<wellknown mode="Singleton" type="KR_LIB, MyAssembly" objectUri="KR_LIB.soap" />
				</service>
			</services>
		</application>
	</system.runtime.remoting>
</configuration>