<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="8086" name="TCPChannel" typeFilterLevel="Full" impersonate="false" secure="true" protectionLevel="EncryptAndSign" />
			</channels>
			<service>
				<wellknown mode="SingleCall" type="RemoteObject.ServerObject, RemoteObject" objectUri="tcp://localhost:8086/tcp/ServerObject.rem" />
			</service>
		</application>
	</system.runtime.remoting>
</configuration>